body {
  font-size: 100%; //16px
  line-height: 1.3;

  @include breakpoint($media-lg) {
    font-size: 90%;
  }

  @include breakpoint($media-md) {
    font-size: 70%;
  }

  @include breakpoint($media-sm) {
    font-size: 50%;
  }
}

h1 {
  font-size: 2.25em;  
}

h2 {
  font-size: 1.5em ;  
}

p {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: .8em;
}

.smaller {
  font-size: .8em; // 12.8px
}