---
title: Contact
nav_class: contact-active
---

<div>
  <h2>Best way to contact me</h2>
  <a href="#">email@email.com</a>
  
  <p>l;askfja ;laskfj askl;fjas fasklfsdal;fk asj;lfj l;ksfj akls;fj asl;fkja sfl;kjas fl;kasj fakls;fj asf</p>
  <p>l;askfja ;laskfj askl;fjas fasklfsdal;fk asj;lfj l;ksfj akls;fj asl;fkja sfl;kjas fl;kasj fakls;fj asf</p>


</div>

<div class="smaller">
  <p>l;askfja ;laskfj askl;fjas fasklfsdal;fk asj;lfj l;ksfj akls;fj asl;fkja sfl;kjas fl;kasj fakls;fj asf</p>
  <p>l;askfja ;laskfj askl;fjas fasklfsdal;fk asj;lfj l;ksfj akls;fj asl;fkja sfl;kjas fl;kasj fakls;fj asf</p>
</div>